.incaddie {
    text-decoration: line-through;
    color: #aaa;
}
.grocery-title {
    display: block;
    /*width: auto;*/
    margin: 10px;
    padding: 10px;
    background-color : DodgerBlue; 
    color : white;
    text-shadow: 2px 0 0 #005A9C, -2px 0 0 #005A9C, 0 2px 0 #005A9C, 0 -2px 0 #005A9C, 1px 1px #005A9C, -1px -1px 0 #005A9C, 1px -1px 0 #005A9C, -1px 1px 0 #005A9C;
    border-radius: 5px;
    
    font-variant: small-caps;
}

body {
	background-image: url('../img/background.jpg');
}

div.grocery-list {
	background-color: rgba(255, 255, 255, 0.6);
	border: 1px solid black;
	border-radius: 15px;
	width: 300px; 
	height: 500px; 
	padding:10px; 
	margin:10px;
	position: fixed;
	right: 25px;
	top: 25px;
}